@media screen and (min-width: 0px){
    #nabvar{
        width: 100%;
        background-color: aqua;
    }
#nabvar ul {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nabvar ul li {
  list-style-type: none;
}
#nabvar ul li img {
  width: 80px;
}
}