.part1 ul li {
  display: inline-block;
  width: 49%;
}

.child1 img {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.child2 img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.child1 {
  border: 2px solid blue;
}
.child2 {
  border: 2px solid red;
}
